<header>
  <h1 id="title">WonderQuestions of the World</h1>
</header>
<nav>
  <ul>
    <li>{{#link-to 'index'}} Home {{/link-to}}</li>
  </ul>
</nav>


<div class="overLord">
  {{outlet}}
</div>

<footer>
  &#169; 2016 <br>
  Going out of this World since Forever
</footer>
