<header>
  <h2 id="title">WonderQuestion of the World</h2>
</header>
<nav>
  <ul>
    <li>{{#link-to 'index'}} Home {{/link-to}}</li>
  </ul>
</nav>


<div class="overLord">
  {{outlet}}
</div>

<footer></footer>
