<h1>When life gives you lemons, ask why</h1>

<ul>
  {{#each model as |question|}}
     {{question-tile question=question update="update"}}
     <!-- This is sending and calling information to and from the question-tile -->
  {{/each}}
</ul>

{{new-question save2="save3"}}
